<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCac0-cDQztsH1--fMRJUUEIfn1zZf73_4</string>
	<key>GCM_SENDER_ID</key>
	<string>995627818054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testingthisout.alisnotesapp</string>
	<key>PROJECT_ID</key>
	<string>alituco-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>alituco-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995627818054:ios:802dd62eca42eee1a23e47</string>
</dict>
</plist>